@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: linear-gradient(to bottom right, #1f2937, #111827, #374151);
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Geist", sans-serif;
}

.dark body {
    background-image: linear-gradient(to bottom right, #1f2937, #111827, #374151);
    animation: gradient-xy 15s ease infinite;
}
